{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form action="{{ path('app_login') }}" method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Logout</a>
			</div>
		{% else %}
			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
			<div class="field">
				<label class="label" for="inputUsername">Username</label>
				<div class="control">
					<input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="input" autocomplete="username" required autofocus>
				</div>
			</div>
			<div class="field">
				<label class="label" for="inputPassword">Password</label>
				<div class="control">
					<input type="password" name="_password" id="inputPassword" class="input" autocomplete="current-password" required>
				</div>
			</div>

			<input
			type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			{# If you want to control the URL the user is redirected to on success #}
			<input type="hidden" name="_target_path" value="/admin">

			<div class="field is-grouped is-grouped-centered">
				<button class="button is-primary" type="submit">
					Sign in
				</button>
			</div>
		{% endif %}
	</form>
{% endblock %}
